GOOGLE_SHEETS_SPREADSHEET_ID=1f78in2E1nG3cuPPQq884jU1-7XRQxHvgEHYLU5SRNUo
GOOGLE_SERVICE_ACCOUNT_FILE=DB/pontuallates_key.json
# Alternativa ao arquivo:
# GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}

DEFAULT_DASHBOARD_USERNAME=admin
DEFAULT_DASHBOARD_PASSWORD=pontualattes
HOST=0.0.0.0
PORT=8000
